<!DOCTYPE html>
<html lang="ru">
<meta charset="UTF-8">
<head>
    <title>Удаление региона</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1>Удаление региона</h1>
<form method="POST" action="/v1/region/delete">

    <label for="id">Номер региона:</label>
    <input type="text" name="region_code" id="name"><br><br>

    <button type="submit" class="btn btn-primary" style=background-color:red >Удалить</button>
</form>
{% if message %}
{{ message }}
{% endif %}
</body>
</html>
