<!DOCTYPE html>
<html lang="ru">
    <meta charset="UTF-8">
    <head>
        <title>Добавление региона</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Добавление региона</h1>
        <form method="POST" action="/v1/region/add">

            <label for="region_code">Код региона:</label>
            <input type="text" name="region_code" id="region_code"><br><br>

            <label for="name">Название региона:</label>
            <input type="text" name="name" id="name"><br><br>

            <button type="submit" class="btn btn-primary" >Добавить</button>
        </form>
        {% if message %}
        {{ message }}
        {% endif %}
    </body>
</html>
